# ignore output directories
obj/
bin/
src/loader.bin
src/init.bin
.deps/

# object files
*.o

# ignore .swp files
*.swp
*~
*.kate-swp

# ignore log files
*.log

# autoconf stuff
autom4te.cache/
aclocal.m4
config.status
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
src/Makefile
src/Makefile.in
stamp-h1
